.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.item-price {
    font-weight: bold;
    font-size: 15px;
}

#chooser {
    margin-bottom: 20px;
}

.item {
    height: 400px;
}