@()(implicit session: Session)

@main("Add new item", "newitem") {
    @helper.form(action=routes.ItemController.newitem) {
        <div class="control-group">
            <label class="control-label" for="name">Product name</label>
            <div class="controls">
                <input type="text" name="name" placeholder="" class="form-control input-lg" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Product description</label>
            <div class="controls">
                <input type="text" name="description" placeholder="" class="form-control input-lg" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="price">Product price</label>
            <div class="controls">
                <input type="number" name="price" placeholder="" class="form-control input-lg" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <input type="text" name="category" placeholder="" class="form-control input-lg" required/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-lg btn-success">Add</button>
            </div>
        </div>
    }
}
